<div class="header">
    <h2>Frontend Engineer Assessment</h2>
    <p>Angular App Practical Test</p>
</div>
<div class="col align-self-center" role="host">
    <div class="row justify-content-evenly">
        <div class="col-4">
            <img src="https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bG9naW58ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                class="img-fluid" alt="...">
        </div>
        <div class="col-4">
            <form>
                <h2>Login</h2>
                <p class="form-text">Please provide your details to proceed...</p>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary mybtn">Login</button>



                <!-- Login option if has account -->

                <div class="text-center">
                    <p>Don't have an account? <a href="register">Create an account today!</a></p>
                  </div>
            </form>
        </div>
    </div>
</div>
