<div class="header">
    <h2>Frontend Engineer Assessment</h2>
    <p>Angular App Practical Test</p>
</div>
<div class="col align-self-center" role="host">
    <div class="row justify-content-evenly">
        <div class="col-4">
            <img src="https://images.unsplash.com/photo-1558267931-d10d1290bf6f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGxvY2slMjBhbmltYXRpb258ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                class="img-fluid" alt="...">
        </div>
        <div class="col-4">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <h2>Register</h2>
                <p class="form-text">Please provide your details to proceed...</p>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ngModel required #email="ngModel">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" ngModel required #password="ngModel">
                    <div id="passwordHelpBlock" class="form-text">
                        Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                      </div>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label form-text" for="exampleCheck1">Show password</label>
                  </div>
                <button type="submit" class="btn btn-primary mybtn" [disabled]="f.invalid">Register</button>



                <!-- Login option if has account -->

                <div class="text-center">
                    <p>Already a member? <a href="login">Login</a></p>
                  </div>
            </form>
        </div>
    </div>
</div>
